[Desktop Entry]
Version=1.0
Type=Application
Name=Linia
Comment=
Exec=/mnt/nvme/Linia/sources/generated/Linia/Linia2/Linia2
Icon=
Path=/mnt/nvme/Linia/sources/generated/Linia
Terminal=true
StartupNotify=false
