archive.zip
*.out
*.uvgui*.*
~*

old/*
sources/generated/*
sources/installer/win/files/*
sources/ThirdParty/wxWidgets/generated/*

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*
sources/Device/Objects/*
sources/Device/Objects-Debug/*

ALGORITM.md
sources/VS/Linia2/src/Device/DeviceAPI_Documentation.md
sources/VS/Linia2/STM32_INTEGRATION_README.md