*~*
archive.zip

old/*
sources/generated/*
sources/installer/win/files/*
sources/ThirdParty/wxWidgets/generated/*
sources/scripts/vs_win/full_build.bat

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*
sources/Device/Objects/*
sources/Device/Objects-Debug/*
sources/Device/*.bin

sources/Loader/*.bin
sources/Loader/*guix.*
sources/Loader/DebugConfig/*
sources/Loader/Objects/*
sources/Loader/Objects-Debug/*
sources/Loader/RTE/*
sources/Loader/Listings/*
sources/Loader/Listings-Debug/*

.vs/*

sources/*uvgui*
sources/Device/*uvgui*
sources/Device/*uvoptx*
sources/Device/RTE/*
