archive.zip
*.out
*.uvgui*.*
~*

old/*
sources/generated/*
sources/installer/win/files/*
sources/ThirdParty/wxWidgets/generated/*

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*
sources/Device/Objects/*
sources/Device/Objects-Debug/*

ALGORITM.md
BUILD_ARM64.md
ПЕРЕЧЕНЬ_КОМАНД_ОТ_PIC_КОНТРОЛЛЕРА.md
ПЕРЕЧЕНЬ_КОМАНД_PIC_КОНТРОЛЛЕРУ.md

.vs/*
test/*