[Desktop Entry]
Version=1.0
Type=Application
Name=Sunset
Comment=
Exec=pkexec /mnt/nvme/Linia/sources/generated/Linia/Linia2/Linia2
Icon=
Path=/mnt/nvme/Linia/sources/generated/Linia/Linia2
Terminal=true
StartupNotify=false
